<section class="section-content">
	<p>I graduated from UCLA in 2020 with a Bachelor's degree in Math of Computation. I am passionate about software engineering and currently work as one at Moody's Analytics. I'm also passionate about data journalism and have worked on several pieces that use data to contextualize and elucidate. I also love to <a href="https://www.instagram.com/rad_hi_food/" style="color:#515151; font-weight:bold;">cook</a>, run, and write. I'm always open to conversation, feel free to shoot me an email! </p>
</section>
