<div class="social-wrapper">
	<!-- <li class="social-items">
		<a href="http://ahujaradhika.github.io" class="social-links">
			<i class="social-icons fas fa-globe" aria-hidden="true"></i>
		</a>
	</li> -->
	<li class="social-items">
		<a href="mailto:{{site.email}}" target="_blank" class="social-links">
			<i class="social-icons fas fa-envelope-square" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-items">
		<a href="https://github.com/ahujaradhika/" target="_blank" class="social-links">
			<i class="social-icons fab fa-github" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-items">
		<a href="https://www.linkedin.com/in/radhika-ahuja-b38899135/" target="_blank" class="social-links">
			<i class="social-icons fab fa-linkedin" aria-hidden="true"></i>
		</a>
	</li>
	<li class="social-items">
		<a href="https://twitter.com/RadhikaAhuja10" target="_blank" class="social-links">
			<i class="social-icons fab fa-twitter" aria-hidden="true"></i>
		</a>
	</li>
</div>